:root{
    --purple: rgb(109, 60, 173);
    --lightpurple: rgb(231, 228, 247);
}

#description {
    display: block;
    text-align: center;
}

#quiz-section, .results, .highscores {
    text-align: start;
    display: none;
}

h1 {
    font-size: 30px;
padding: 30px;}

* {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}

.highscores-link a {
    color: var(--purple);
float: left;
padding: 90px;
/* a:link {color: purple} */
}

.timer p {
    color: var(--purple);
    padding: 90px;
    float: right;
}

.description {
    text-align: center;
}

.start-button button {
    background-color: var(--purple);
    color: white;
}

.highscores li {
    background-color: var(--lightpurple)
}